*{
  font-family: 'Mukta Mahee', sans-serif !important;
  color: ghostwhite;
}
#block{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: black;
  font-size: 3em;
}
a:link {
  text-decoration: none;
}
#hi{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00001b !important;
  z-index: 99;
}

/*****Keyframes*****/
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(300%);
  }
  100% {
    transform: translateY(0);
  }
}

/*****Header*****/
header{
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(assets/header-image.svg);
  border-bottom: 5px solid ghostwhite;
  box-shadow: 0 0 20px 5px black;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 2em;
}
#sitename{
  /* position: fixed;
  top: 25px;
  left: 30px; */
  font-size: 2em;
  animation: 1s ease-in-out 0s 1 slideInFromLeft;
  transition: transform 0.1s ease-out, text-shadow 0.1s;
  display: flex;
  align-items: flex-end;
  gap: 0.2em;
}
#sitename:hover {
  transform: translateY(-10%);
  text-shadow: 0px 0px 10px #c0ceff;
}
#list-logo {
  height: 60px;
  transition: filter 0.1s ease-out,
  transform 0.1s ease-out;
}
#sitename:hover #list-logo {
  filter: drop-shadow(-5px 5px 10px black);
  transform: translateX(5px);
}
#version-node {
  font-size: 1.25rem;
  transform: translateY(5px);
}
#header-links  {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.75em;
}
#record-link {
  font-size: 1.1rem;
  font-weight: bolder;
  padding: 0.5em 1em;
  background-color: transparent;
  border-radius: 1.15em;
  box-shadow: 0 0 15px #00001b;
  transition: 
  box-shadow 0.15s ease-in-out,
  backdrop-filter 0.15s ease-out;
  user-select: none;
  white-space: nowrap;
}
#record-link:hover {
  box-shadow: 0 0 20px 2px black;
  backdrop-filter: saturate(120%);
}
#pc-link{
  text-align: right;
  font-size: 1.2em;
  background-color: #5865F2;
  padding: 0.5em 1em;
  border-radius: 1em;
  box-shadow: 0 0 10px black;
  transition: 
  scale 0.15s ease-out, 
  box-shadow 0.15s ease-in-out,
  background-color 0.15s ease-out;
  user-select: none;
}
#pc-link img {
  height: 1.65em;
}
#pc-link:hover {
  scale: 1.05;
  box-shadow: 0px 5px 20px black;
  background-color: #7289DA;
}

/*****List*****/
#list{
  background: linear-gradient(90deg, rgb(50, 73, 203), rgb(27, 40, 112));
  position: fixed;
  top: 100px;
  left: 0;
  width: 30%;
  overflow-y: auto;
  animation: 0.75s ease-out 0s 1 slideInFromBottom;
}
.entry{
  padding: 1em;
  transition:
  background 0.25s ease-out,
  color 0.25s ease-out,
  border-left 0.1s ease-out;
  border-color: rgb(18, 28, 80);
}
.entry:nth-child(odd){
  background: linear-gradient(90deg, rgb(32, 49, 149), rgb(17, 25, 75));
}
.entry:not(.selected):hover{
  background: linear-gradient(90deg,
  rgb(54, 88, 224), 
  rgb(87, 121, 255) 35%, 
  rgb(125, 149, 255) 99%);
  cursor: pointer;
  color:rgba(255, 255, 255, 0.5) !important;
  border-left: 8px solid rgb(18, 28, 80);
}
.selected {
  background: linear-gradient(90deg, #1b1d3a, #00001b) !important;
  border-left: 8px solid #00001b;
}
.author{
  font-variant: small-caps;
}

/*****Additional information*****/
#additional-information{
  background: linear-gradient(135deg,
  #1b213a,
  #00001b);
  position: fixed;
  top: 100px;
  right: 0;
  width: 30%;
  overflow-y: auto;
  animation: 0.75s ease-out 0s 1 slideInFromBottom;
}
#inner-right-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 1.5em 3em;
}
#credits a{
  text-decoration: underline;
  color: rgb(87, 121, 255);
}
#credits a:hover {
  color:#bec7ec;
}
#staff-list {
  background: linear-gradient(115deg,
  rgb(6, 10, 40) 0%,
  rgb(17, 25, 75) 20%,
  rgb(6, 13, 45) 20%,
  rgb(18, 28, 80) 40%,
  rgb(9, 18, 63) 40%,
  rgb(19, 32, 95) 60%,
  rgb(17, 27, 82) 60%,
  rgb(27, 40, 112) 80%,
  rgb(19, 32, 102) 80%,
  rgb(32, 49, 149) 100%);
  padding: 1em 3em;
  border-radius: 1.5em;
  box-shadow: 0 0 15px 5px black;
  display: flex;
  flex-direction: column;
  gap: 0.35em;
}
#staff-list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#staff-list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#staff-list a:hover {
  color:#bec7ec;
  text-decoration:underline; 
}
.staff-title {
  font-weight: bold;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.25em;
}
#owner-icon,
#helper-icon,
#admin-icon {
  height: 20px;
}
#staff-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#guidelines {
  width: 90%;
  padding: 1.5em;
  border-radius: 1.5em;
  box-shadow: 0 0 15px 5px black;
  display: flex;
  flex-direction: column;
  gap: 1em;
  box-sizing: border-box;
  background: linear-gradient(215deg,
  rgb(6, 10, 40) 0%,
  rgb(17, 25, 75) 20%,
  rgb(6, 13, 45) 20%,
  rgb(18, 28, 80) 40%,
  rgb(9, 18, 63) 40%,
  rgb(19, 32, 95) 60%,
  rgb(17, 27, 82) 60%,
  rgb(27, 40, 112) 80%,
  rgb(19, 32, 102) 80%,
  rgb(32, 49, 149) 100%);
}
#guidelines-title {
  font-weight: bold;
  font-size: 1.25rem;
}
#guidelines ul {
  box-sizing: border-box;
  border: 1px solid rgba(125, 149, 255, 0.125);
  border-radius: 1.5em;
  padding: 1em;
  padding-left: 1.35em;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  list-style: none;
  backdrop-filter: blur(16px) saturate(75%);
}
#guidelines li:not(:last-child) {
  padding-bottom: 0.5em;
  border-bottom: 1px solid rgba(125, 149, 255, 0.125);
}
#guidelines li::before {
  content: "-";
}
#guidelines li a {
  text-decoration: underline;
  color: #7289DA;
}
#guidelines li a:hover {
  color:#bec7ec;
}
#additional-information hr {
  margin: 0;
}

#inner-info, #inner-right-info{
  padding: 1.5em 1em;
}

/*****Info*****/
#info{
  box-shadow: inset 0 0 35px 5px black;
  background: linear-gradient(165deg, rgb(18, 28, 80), rgb(4, 10, 39), rgb(18, 28, 80));
  position: fixed;
  top: 100px;
  left: 30%;
  width: 40%;
  overflow-y: auto;
}
.level-info-button {
  font-size: 1.4rem;
  cursor: pointer;
  background-color: rgb(32, 49, 149);
  padding: 0em 0.35em;
  border-radius: 0.75em;
  box-shadow: 0 0 15px black;
  margin-left: 0.1em;
  transition: 
  box-shadow 0.05s ease-in-out,
  background-color 0.1s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.level-info-button:hover {
  box-shadow: 0 0 20px 5px black;
  background-color: rgb(50, 73, 203);
}
#leveltitle{
  font-size: 1.7em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#levelrank {
  background-color: rgb(19, 32, 95);
  padding: 0em 0.35em;
  border-radius: 0.5em;
  box-shadow: 0 0 15px black;
}
#levelname {
  font-size: 2.25rem;
}
#level-info {
  font-size: 1.375rem;
  font-weight: bold;
  margin-bottom: 0.75em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
#copy-buttons {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  gap: 1em;
  flex-wrap: wrap;
  width: 60%;
}
#levelpoints {
  background-color: rgb(19, 32, 95);
  padding: 0em 0.35em;
  border-radius: 0.5em;
  box-shadow: 0 0 15px black;
}
#records-id {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.clipboard {
  height: 20px;
  width: 30px;
}
#records-pass {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#records-title strong {
  font-size: 1.8rem;
}
#levelqualify {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 1em;
}
#level-submit {
  font-size: 1.1rem;
  font-weight: bolder;
  padding: 0.5em 1em;
  background-color: rgb(32, 49, 149);
  border-radius: 1.15em;
  box-shadow: 0 0 15px 2px #00001b;
  transition: 
  box-shadow 0.15s ease-in-out,
  background-color 0.15s ease-out;
}
#level-submit:hover {
  box-shadow: 0 0 25px 5px black;
  background-color: rgb(50, 73, 203);
}
#levelauthor{
  font-size: 1.1em;
}
#leveldescription{
  font-size: 1.2em;
  font-variant: small-caps;
  margin-top: 1em;
}
.vid {
  margin: 1.5em 0;
  aspect-ratio: 16/9;
  width: 95%;
  border-radius: 0.75em;
  box-shadow: 0px 0px 35px -5px rgba(87, 121, 255, 0.5);
}
.hacked{
  background: rgb(32, 65, 165);
  color: white;
  font-weight: strong;
  font-size: 0.4em;
  padding: 0.4em;
  border-radius: 1em;
}
.p-hacked{
  background: rgb(65, 96, 221);
  color: white;
  font-weight: strong;
  font-size: 0.4em;
  padding: 0.4em;
  border-radius: 1em;
}

/*****Records*****/
#records{
  width: 100%;
}
#records-title{
  font-size: 1.5em;
  font-weight: bold;
  color: black;
}
#records-table{
  margin: 2.3em auto 1em auto;
  width: 95%;
  box-shadow: 0px 0px 35px -5px rgba(87, 121, 255, 0.5);
}
.interentry{
  width: 100%;
  padding: 0.5em;
}
.record-entry:hover a{
  color:#a8b3dd;
  text-decoration:underline; 
}
.record-entry:nth-child(even){
  background: rgb(17, 25, 75)
}
.record-entry:nth-child(odd){
  background: rgb(27, 40, 112)
}

/*I have no idea what these do but
I'm too scared to remove them*/
#explanation-simple-title{
  font-size: 1.5em;
  font-weight: bold;
  color: black;
}
#explanation-simple{
  font-size: 18px;
  font-weight: bold;
  color: black;
}

/*****User list*****/
#user-rank-info {
  width: 95%;
  margin: auto;
  margin-top: 2em;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
}
#user-rank-info center{
  font-size: 1.25rem;
  padding: 0.5em 0em;
  background: #16182f;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  border: 1px solid rgba(125, 149, 255, 0.125);
}
#user-rank-info ol {
  padding: 1em 0em 1em 2.5em;
  margin: 0;
  background: #16182f;
  border-left: 1px solid rgba(125, 149, 255, 0.125);
  border-right: 1px solid rgba(125, 149, 255, 0.125);
}
#user-rank {
  font-size: 20px;
  font-weight: bold;
}

/*
User records popup
[DO NOT MODIFY unless you know what you're doing]
*/
.swal2-popup {
  background-size: cover !important;
  box-shadow: 0 0 25px 5px black !important;
  border-radius: 1em !important;
}
.swal2-popup a:hover {
  color:#bec7ec;
  text-decoration:underline; 
}
.swal2-title {
  color: white !important;
}
.swal2-confirm {
  box-shadow: 0 0 20px black !important;
  border-radius: 0.75em !important;
}

/* 
Scroll bar 
[DO NOT MODIFY unless you know what you're doing]
*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #060621; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(32, 49, 149); 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(54, 88, 224); 
}

/*****Media queries*****/
@media all and (max-width: 1464px) {
  #copy-buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5em;
    flex-wrap: wrap;
    width: 10em;
  }
}
@media all and (max-width: 676px) {
  #copy-buttons {
    width: 90%;
  }
  #inner-info {
    padding: 1.5em 0;
  }
  .vid {
    margin: 1.5em 0;
    aspect-ratio: 16/9;
    width: 100%;
    border-radius: 0;
  }
  #inner-right-info {
    padding: 1.5em 0;
  }
  #guidelines {
    width: 100%;
    padding: 1.5em 0;
  }
  #guidelines ul {
    padding: 0;
  }
  #user-rank-info ol {
    padding: 1em 0em 1em 0.25em;
  }
  header {
    padding: 0 1em;
  }
  #header-links  {
    flex-direction: column;
    gap: 0.5em;
	}
  #record-link {
    font-size: 0.9rem;
    font-weight: bolder;
    padding: 0.5em 0.5em;
  }
  #pc-link {
    text-align: right;
    font-size: 0.9em;
    background-color: #5865F2;
    padding: 0.5em 0.5em;
    border-radius: 1em;
    box-shadow: 0 0 10px black;
    transition: 
    scale 0.15s ease-out, 
    box-shadow 0.15s ease-in-out,
    background-color 0.15s ease-out;
    user-select: none;
  }
}